Repository EdiWang/Moonglade, pull requests merged in 2021-03, with the labels that each got.

#528 Add BlogAsset
  azure-pipelines.yml
  src/Common.props
  src/Moonglade.Configuration/Abstraction/IBlogConfig.cs
  src/Moonglade.Configuration/BlogAsset.cs
  src/Moonglade.Configuration/BlogConfig.cs
  src/Moonglade.Configuration/GeneralSettings.cs
  src/Moonglade.Setup/Data/schema-mssql-140.sql
  src/Moonglade.Setup/SetupRunner.cs
  src/Moonglade.Web/Controllers/AssetsController.cs
  src/Moonglade.Web/Controllers/SettingsController.cs
Labels: area-settings, breaking-change, database

#529 Migrate a few admin pages to Razor Pages
  src/Moonglade.Comments.Tests/CommentServiceTests.cs
  src/Moonglade.Web.Tests/Configuration/ConfigureCommentsTests.cs
  src/Moonglade.Web.Tests/Configuration/ConfigurePingbackTests.cs
  src/Moonglade.Web.Tests/Controllers/AdminControllerTests.cs
  src/Moonglade.Web.Tests/Controllers/AuthControllerTests.cs
  src/Moonglade.Web.Tests/Controllers/PostControllerTests.cs
  src/Moonglade.Web.Tests/Controllers/PostManageControllerTests.cs
  src/Moonglade.Web.Tests/Controllers/SettingsControllerTests.cs
  src/Moonglade.Web.Tests/Pages/Admin/BlogPageModelTests.cs
  src/Moonglade.Web.Tests/Pages/Admin/CategoryModelTests.cs
  src/Moonglade.Web.Tests/Pages/Admin/FriendLinkModelTests.cs
  src/Moonglade.Web.Tests/Pages/Admin/LocalAccountModelTests.cs
  src/Moonglade.Web.Tests/Pages/Admin/MenuModelTests.cs
  src/Moonglade.Web.Tests/Pages/Admin/PingbackModelTests.cs
  src/Moonglade.Web.Tests/Pages/Admin/TagsModelTests.cs
  src/Moonglade.Web/BlogProtocols/MetaWeblogService.cs
  src/Moonglade.Web/Configuration/ConfigureImageStorage.cs
  src/Moonglade.Web/Controllers/AdminController.cs
  src/Moonglade.Web/Controllers/SettingsController.cs
  src/Moonglade.Web/Models/CategoryManageModel.cs
  src/Moonglade.Web/Models/MenuManageModel.cs
  src/Moonglade.Web/Models/Settings/AccountManageViewModel.cs
  src/Moonglade.Web/Models/Settings/FriendLinkSettingsViewModel.cs
  src/Moonglade.Web/Pages/Admin/About.cshtml
  src/Moonglade.Web/Pages/Admin/BlogPage.cshtml
  src/Moonglade.Web/Pages/Admin/BlogPage.cshtml.cs
  src/Moonglade.Web/Pages/Admin/Category.cshtml
  src/Moonglade.Web/Pages/Admin/Category.cshtml.cs
  src/Moonglade.Web/Pages/Admin/FriendLink.cshtml
  src/Moonglade.Web/Pages/Admin/FriendLink.cshtml.cs
  src/Moonglade.Web/Pages/Admin/LocalAccount.cshtml
  src/Moonglade.Web/Pages/Admin/LocalAccount.cshtml.cs
  src/Moonglade.Web/Pages/Admin/Menu.cshtml
  src/Moonglade.Web/Pages/Admin/Menu.cshtml.cs
  src/Moonglade.Web/Pages/Admin/Pingback.cshtml
  src/Moonglade.Web/Pages/Admin/Pingback.cshtml.cs
  src/Moonglade.Web/Pages/Admin/Post.cshtml
  src/Moonglade.Web/Pages/Admin/Tags.cshtml
  src/Moonglade.Web/Pages/Admin/Tags.cshtml.cs
  src/Moonglade.Web/Pages/_ViewImports.cshtml
  src/Moonglade.Web/Resources/Pages/Admin/About.zh-CN.resx
  src/Moonglade.Web/Resources/Pages/Admin/Category.zh-CN.resx
  src/Moonglade.Web/Resources/Pages/Admin/FriendLink.zh-CN.resx
  src/Moonglade.Web/Resources/Pages/Admin/LocalAccount.zh-CN.resx
  src/Moonglade.Web/Resources/Pages/Admin/Menu.zh-CN.resx
  src/Moonglade.Web/Resources/Pages/Admin/Page.zh-CN.resx
  src/Moonglade.Web/Resources/Pages/Admin/Pingback.zh-CN.resx
  src/Moonglade.Web/Resources/Pages/Admin/Post.zh-CN.resx
  src/Moonglade.Web/Resources/Pages/Admin/Tags.zh-CN.resx
  src/Moonglade.Web/Startup.cs
  src/Moonglade.Web/Views/Admin/EditPage.cshtml
  src/Moonglade.Web/Views/PostManage/CreateOrEdit.cshtml
  src/Moonglade.Web/Views/Shared/_DiagnosisHeader.cshtml
  src/Moonglade.Web/Views/Shared/_LayoutAdmin.cshtml
  src/Moonglade.Web/Views/Shared/_PostManageHeader.cshtml
Labels: area-admin, maintenance

#531 Modify the regular expression to support password strings using special characters
  src/Moonglade.Web/Models/Settings/AccountManageViewModel.cs
  src/Moonglade.Web/Models/SignInViewModel.cs
  src/Moonglade.Web/Pages/Admin/LocalAccount.cshtml
Labels: area-admin
